@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@600&family=Kalam&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kalam', cursive;
    text-decoration: none;
}
li{
    display: flex;
    margin: 0px;
    border-radius: 1px;
    padding: 2px 2px;
    margin: 10px 10px;
    border: 9ch -solid #009688;
    width: 1px;
}
a:hover{
    color: rgb(38, 151, 160);
}
img{
    width: 100%;
    height: 100%;
    scroll-snap-stop: normal;
    background-attachment:fixed;
}
header{
    min-height: 100vh;
    background: url(IMG/Modern\ agricultural.png);
    background-size: cover;
    background-image:linear-gradient(rba(0,0,0.75)-o-linear-gradient(rba(0,0,0.75)));
}
.header.content{
    width: 100%;
    margin: 10px;
    text-decoration: none; 
}
.logo{
    height: 200px;
    width: 190px;
    float: left;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: 60px;
    margin-right: 6em;
    font-size: 30px;
    text-decoration: none;
    width:50%; 
}
.nav-links ul li a{
    float: right;
    font-size: 0.9px;
    font-weight: 40px;
    font-family: sans-serif;
}
.nav-links ul li a:hover{
    background-color: rgb(18, 185, 118);
}
.new{
    justify-content: space-between;
    color: whitesmoke;
    font-variant: small-caps;
    font-size: 64px;
    text-indent: 50px;
    line-height: 1.3em;  
    
}
.text-center{
    font-size: 23px;
    color: lightgray;
    text-align: center;
    line-height: 2em; 
}
button{
    font-size: 20px;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px -solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: rgba(158, 179, 166, 0.977);
}

